@tailwind base;
@tailwind components;
@tailwind utilities;

html,
head,
body {
	overflow: hidden;
	position: relative;
}

#terminal {
	flex-direction: column-reverse;
	max-height: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
	min-width: 500px;
	width: 500px;
	max-width: 500px;
}

#scroller * {
	overflow-anchor: none;
}

#input-anchor {
	overflow-anchor: auto;
	height: 1px;
}
