@import "tailwindcss";

html,
head,
body {
  overflow: hidden;
  position: relative;
}

:root {
  --terminal-hash: #ffd700;
  --terminal-out: #36ad11;
  --terminal-shog: #309810;
  --terminal-input: #25642a;
  --terminal-system: #4ade80;
  --terminal-error: #dc2626;
}
